body {
    font-family: 'Roboto', sans-serif;
    background: #f3f3f3;
    width: 100%;
    display: flex;
}

.principal-page {
    display: flex;
    flex-direction: column;
    width: 100vw;
}


.top {
    width: 100vw;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
}
.topcontent {
    width: 100vw;
    height: 80px;
    padding: 0 22px 0 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}
.topcontent ion-icon {
    width: 42.19px;
    height: 30.94px;
}
.chat {
    margin: 96px 0 90px 0;
}

.message {
    width: 100vw;
    height: 40px;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    margin: 0 0 4px 0;
}

.message p {
    word-break: break-all;
    flex-wrap: wrap;
}

.white {
    background: #fff;
}
.red {
    background: #FFDEDE;
}

.gray {
    background: #DCDCDC;
}

.time {
    margin: 0 10px 0 8px;
    color: #AAAAAA;
    box-sizing: border-box;
}

.name {
    font-weight: bold;
}

.type {
    width: 100vw;
    height: 80px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
}

input {
    border: none;
    font-size: 18px;
    font-style: italic;
    color: #000;
    padding-left: 17px;
    width: 100%;
}

.type ion-icon {
    width: 26px;
    height: 26px;
    padding-right: 18px;
    box-sizing: border-box;
}

.hide {
    display: none;
}

.message:last-child {
    display: flex;
}

.sidebar {
    width: 70wm;
    height: 100%;
    position: fixed;
    right: 0;
}

.display-sidebar {
    display: flex;
    flex-direction: column;
    background: white;
    width: 70%;
}

.sidebar-top {
    height: 84px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-top h1 , .sidebar > h1{
    font-weight: 700;
    font-size: 16px;
    padding: 0 30px;
    width: 80%;
    text-align: center;
}

.everybody , .contact , .public , .private {
    width: 100%;
    display: flex;
    align-items: center;
    height: 36px;
    padding-left: 24px;
}

.everybody ion-icon, .contact ion-icon, .public ion-icon, .private ion-con {
    width: 20px;
    height: 15px;
}

.darkBackground{
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
}
